@model MNSuperadmin.Models.Notifications.RootObject

@{
    ViewBag.Title = "GetAllPushNotifications";
}

<!-- =============================================== -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Push Notification
        @*<small>Registration</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-bell"></i>Notification</a></li>
        <li class="active"> Get All PushNotification</li>
    </ol>
</section>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Get All Push Notifications</h3>
    </div>
    <div class="container">
        <div class="row col-md-12">
            <table class="table table-bordered table-responsive">
                <tr>
                    <th style="text-align:center">Notification Title</th>
                    <th style="text-align:center">Message Details</th>
                    <th style="text-align:center">ImageUrl</th>
                    <th style="text-align:center">Notification Date</th>
                    <th style="text-align:center">MessageId</th>
                </tr>
                @foreach (var item in Model.notificationsList)
                {
                    <tr style="text-align:center; position:relative">
                        <td>@item.title</td>
                        <td>
                            <textarea readonly cols="50" rows="3">@item.text</textarea>
                        </td>
                        <td><a href="~/NotificationsImage/@item.imageName" target="_blank">View Image</a></td>
                        <td>@item.pushNotificationDate</td>
                        <td>@item.messageId</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
