.hero-bg-wrapper {
    //min-height: 768px;
}

.hero-bg {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 100px 0 22px;
    min-height: 768px;

    .logo {
        margin: 0 auto 30px;
        max-width: 360px;
        width: 100%;
    }

    .form-wrapper {
        margin: 0 auto 55px;
        max-width: 275px;
        width: 100%;

        .forgot-password {
            color: $color-dark-blue;
            font-size: 14px;
        }

        .info {
            color: $color-black;
            font-size: 0.833rem;
            font-weight: $font-lite;
        }

        .button-wrapper {
            margin: 12px 0;

            button {
                font-size: 0.889rem;
                width: 100%;
            }
        }

        .account-info {
            font-size: 0.889rem;

            a {
                color: $color-dark-blue;
                font-weight: $font-bold;
            }
        }
    }

    .two-col {
        background-color: transparentize($color-white, 0.44);
        border: 1px solid $color-twocol-border;
        border-radius: 7px;
        font-size: 14px;
        max-width: 410px;
        margin: 0 auto 55px;
        padding: 19px;
        width: 100%;

        p {
            margin-bottom: 10px;
        }

        .google-play {
            &::after {
                content: '';
                background-color: $color-twocol-border-right;
                height: 100%;
                right: 0;
                top: 0;
                position: absolute;
                width: 1px;
                z-index: 1;
            }
        }
    }

    .powered-by {
        .title {
            display: inline-block;
            font-size: 0.944rem;
            margin-right: 15px;
        }
    }
}

/** Responsive  CSS **/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 767.98px) {
    .hero-bg {
        min-height: auto;
        padding: 35px 0;

        .two-col {
            padding: 10px;
            text-align: center !important;

            .google-play {
                margin-bottom: 20px;
                padding-bottom: 20px;

                &::after {
                    top: auto;
                    bottom: 0;
                    right: 15px;
                    margin-right: calc();
                    width: calc(100% - 30px);
                    height: 1px;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
