
<!--Merchant Menu->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview menu-open">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/MerchantDashboard"><i class="fa fa-circle-o"></i> Dashboard</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user-o"></i>
            <span>Merchant</span>
            <span class="pull-right-container">
                <span class="label label-primary pull-right">@*3*@</span>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Profile"><i class="fa fa-user-circle-o"></i> View Detail/Merchant Info</a></li>
        </ul>
    </li>
    
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart"></i> <span>Report</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Statement"><i class="fa fa-bar-chart-o"></i> Statement</a></li>
        </ul>
    </li>
   
    
    
    <li class="header">SETTINGS</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-gears"></i> <span>Setting</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/ChangePassword"><i class="fa fa-key text-red"></i> Change Password</a></li>
            @*<li><a href="~/PinReset"><i class="fa fa-map-pin text-green"></i> T-Pin Reset</a></li>*@
        </ul>
    </li>
</ul>

