@{
    ViewBag.Title = "Register";
}
@using MNepalProject.Models;

<body class="login example1" data-ng-controller="acc">
    <h2><i class="icon-edit-sign teal"></i>Register</h2>
    <div class="row">
        <div id="divrow" class="col-sm-12">
            <div class="alert alert-success" data-ng-if="error=='false'" data-ng-hide="status" data-ng-model="msg">
                <span>{{msg}}</span>
            </div>
            <div class="alert alert-danger" data-ng-if="error=='true'" data-ng-hide="status" data-ng-model="msg">
                <span>{{msg}}</span>
            </div>
        </div>
    </div>
    <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="errorHandler alert alert-danger no-display">
                    <i class="icon-remove-sign"></i> You have some form errors. Please check below.
                </div>
                <div class="successHandler alert alert-success no-display">
                    <i class="icon-ok"></i> Your form validation is successful!
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        Service-type
                    </label>
                    <select data-ng-model="servicetype" class="btn btn-default dropdown-toggle form-control">
                        <option value="70">Wallet Account Open</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        First Name <span class="symbol required"></span>
                    </label>
                    <input type="text" placeholder=" First Name" data-ng-model="firstname" class="form-control" id="firstname" name="firstname">
                </div>
             
                <div class="form-group">
                    <label class="control-label">
                        Middle Name 
                    </label>
                    <input type="text" placeholder="Middle Name" data-ng-model="middlename" class="form-control" id="middlename" name="middlename">
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Last Name <span class="symbol required"></span>
                    </label>
                    <input type="text" placeholder="Insert your Last Name" data-ng-model="lastname" class="form-control" id="lastname" name="lastname">
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Family Name <span class="symbol required"></span>
                    </label>
                    <input type="text" placeholder="family name" data-ng-model="familyname" class="form-control" id="familyname" name="familyname">
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Deposite Amount <span class="symbol required"></span>
                    </label>
                    <input type="number" placeholder="Amount" data-ng-model="amount" class="form-control" id="amount" name="amount">
                </div>
                <div class="form-group">
                    <label class="control-label">
                        User Mobile   <span class="symbol required"></span>
                    </label>
                    <input type="text" class="form-control" data-ng-model="umobile" id="umobile" name="umobile" placeholder="umobile">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group connected-group">
                    <label class="control-label">
                        Date of Birth <span class="symbol required"></span>
                    </label>
                    <div class="row">
                        <div class="col-md-3">
                            <select name="dd" data-ng-model="dd" id="dd" class="form-control">
                                <option value="">DD</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select name="mm" data-ng-model="mm" id="mm" class="form-control">
                                <option value="">MM</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="number" placeholder="YYYY" data-ng-model="yyyy" id="yyyy" name="yyyy" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">
                                Street <span class="symbol required"></span>
                            </label>
                            <input class="form-control" data-ng-model="street" type="text" name="street" id="street">
                        </div>
                        <div class="col-md-5">
                            <label class="control-label">
                                Ward <span class="symbol required"></span>
                            </label>
                            <input class="form-control" data-ng-model="ward" type="text" name="ward" id="ward">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">
                                District <span class="symbol required"></span>
                            </label>
                            <input class="form-control tooltips" type="text" data-ng-model="district" title="District" name="district" id="district">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">
                                Zone <span class="symbol required"></span>
                            </label>
                            <input class="form-control tooltips" type="text" data-ng-model="zone"  data-rel="tooltip" title="Zone" data-placement="top" name="zone" id="zone">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">
                                IVR Languague Preference
                            </label>
                            <select data-ng-model="ivrlang" class="btn btn-default dropdown-toggle form-control">
                                <option value="English">English</option>
                                <option value="Nepali">Nepali</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <input type="file" name="files[]" class="fileupload" id="js-upload-files" multiple>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <span class="symbol required"></span>Required Fields
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    By clicking REGISTER, you are agreeing to the Policy and Terms &amp; Conditions.
                </p>
            </div>
            <div class="col-md-4">
                <div class="col-md-9">
                    <button class="btn btn-yellow btn-block" ng-click="Register()">
                        Register <i class="icon-circle-arrow-right"></i>
                    </button>
                </div>                                     
            </div>
        </div>          

</body>
