$global-transition: 0.3s all ease-in-out;

/** Fonts **/
$font-thaili: 'Chivo', sans-serif;
$font-lite: 300;
$font-normal: 400;
$font-bold: 700;

/** Color **/
$color-white: #fff;
$color-black: #000;
$color-text: #2A2A2A;
$color-text-lite: #9A9A9A;
$color-green: #00A79D;
$color-green2: #01A651;
$color-yellow: #F7941D;
$color-yellow2: #F8A644;
$color-red: #E31837;
$color-pink: #EC008C;
$color-notification: #707070;
$color-bg-grey: #F6F6F6;
$color-form-text: #535353;
$color-twocol-border: #BBBBBB;
$color-twocol-border-right: #959595;
$color-tablebg: #F5F5F5;

/** Header color **/
$color-setting-icon: #C1C1C1;
$color-menu-text: #3E3E3E;
$color-grey-bg: #F3F3F3;
$color-header-shadow: #6B6B6B;

/** Search form color **/
$color-search-text: #818181;
$color-search-icon: #E6E6E6;
$color-switch-bg: #EBEBEB;

/** Color footer **/
$color-footer-bg: #F8F8F8;
$color-lite-green: #00A651;
$color-lite-blue: #00AEEF;
$color-orange: #F15A29;
$color-dark-blue: #002D6A;
